<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Liplot
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">
                <ion-label [routerLink]="['/projects']" >
                    <ion-icon name="chevron-back-outline"></ion-icon> Liplot detail 
                </ion-label>
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-item mode="ios" *ngFor="let item of item_list;trackBy: trackByFn">
            <ion-label >{{item}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-input *ngIf="addItem == true" value="add item" [(ngModel)]="item_name"></ion-input>
    <ion-button *ngIf="addItem == false" expand="full" (click)="setItem()">add Item</ion-button>
    <ion-button *ngIf="addItem == true" expand="full" (click)="addNewItem()">Insert</ion-button>
    <ion-button color="danger" (click)="clearProjects()">Delete All</ion-button>

</ion-content>