<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/'></ion-back-button>
        </ion-buttons>
        <ion-title>
            Liplot detail
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title vertical="center" size="large">
                Liplot 
            </ion-title>
            <ion-button color="primary" fill="solid" slot="end" (click)="editing()">
                <ion-icon name="create-outline"></ion-icon>
            </ion-button>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-item-sliding *ngFor="let item of item_list;trackBy: trackByFn" #slideOps>
            <ion-item mode="ios">
                <ion-label>{{item.name}}</ion-label>
            </ion-item>
            <ion-item-options side="end" (ionSwipe)="presentPopover(item.id,item.name,'item')">
                <ion-item-option (click)="presentPopover(item.id, item.name, 'item')" color="danger" expandable>
                    Delete
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-input *ngIf="addItem == true" #inputToAdd value="add item" [(ngModel)]="item_name"></ion-input>
    <ion-button *ngIf="addItem == false" expand="full" (click)="setItem()">add Item</ion-button>
    <ion-button *ngIf="addItem == true" expand="full" (click)="addNewItem()">Insert</ion-button>
    <ion-button color="danger" (click)="clearItems()">Delete All Items</ion-button>

</ion-content>